<div class="container mt-5 mb-5">
    <h1>İletişim</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Adınızı Girin" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Soyadınızı Girin" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Email Adresinizi Girin" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Telefonunuzu Girin" >
            </div>
            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">Gönder</button>
            </div>
            


        </div>
    </form>
</div>