<div class="banner">
    <div class="content">
        <h1 class="mb-5">Taze Pişmiş 
            <br> Yemek Kapında.</h1>
        <a routerLink="menu">Sipariş ver<i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>yiyecek seçin</p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>ayrıntıları doldurun</p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>siparişiniz dakika içinde teslim edilir</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <h1 class="text-center">Müşterilerin <span class="highlight">Favori Yemekleri</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of foodData;index as i">
            <div class="foodbox" *ngIf="i<=3">
                <img src="{{fd.foodImg}}" />
                <h1>{{fd.foodName}}</h1>
                <p>{{fd.foodPrice | currency:'₺'}}</p>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmorebtn">daha fazlasını görüntüle<i class="bi bi-arrow-right"></i></a>
</div>
